body {
  margin: 0;
  overflow: hidden;
}

img {
  width: 8vw;
}

#screen {
  /* make a grid with one field*/
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100%;
  /* make it follow the screen size */
  aspect-ratio: 16 / 9;
  width: 100vw;

  user-select: none;
}

#game {
  grid-area: 1 / 1;
  background-color: rgb(191, 68, 228);
  overflow: hidden;
  display: grid;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(images/myOwnTry2.jpg);
  background-size: cover; /* hverken cover eller contain virker */
  transform-origin: center;
}

#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
}

#amyHennig_container {
  width: 8vw;
  position: absolute;
  top: -30vw;
  left: 31vw;
  z-index: 2;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

#meganFox_container {
  width: 10vw;
  position: absolute;
  top: -30vw;
  left: 31vw;
  z-index: 2;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

#kimSwift_container {
  width: 8vw;
  position: absolute;
  top: -30vw;
  left: 51vw;
  z-index: 2;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

#corrinneYu_container {
  width: 8vw;
  position: absolute;
  top: -30vw;
  left: 46vw;
  z-index: 2;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

#jadeRaymond_container {
  width: 9vw;
  position: absolute;
  top: -30vw;
  left: 61vw;
  z-index: 2;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

#mileyCyrus_container {
  width: 9vw;
  position: absolute;
  top: -30vw;
  left: 46vw;
  z-index: 2;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

#janeAusten_container {
  width: 8vw;
  position: absolute;
  top: -30vw;
  left: 61vw;
  z-index: 2;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

#liseNorgaard_container {
  width: 10vw;
  position: absolute;
  top: -30vw;
  left: 41vw;
  z-index: 2;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

#merylStreep_container {
  width: 8vw;
  position: absolute;
  top: -30vw;
  left: 61vw;
  z-index: 2;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

#janeFonda_container {
  width: 9vw;
  position: absolute;
  top: -30vw;
  left: 31vw;
  z-index: 2;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

#credits {
  background-color: rgb(79, 165, 96);
  display: grid;
  grid-area: 1 / 1;
  position: relative;
  grid-template-columns: 1fr 1fr;
}

#game_over {
  background-color: red;
}

#level_complete {
  background-color: green;
}

#start_screen {
  background-color: rgb(219, 16, 158);
}

#game_ui {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#life_board {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 9999;
  margin-left: 15vw;
}

#life_board img {
  width: 7vw;
}

#score_board {
  display: grid;
  position: relative;
  grid-area: 1/1;
  top: 3.8vh;
  left: 1vw;
  font-size: 2vw;
}

#time_board {
  position: relative;
}

#time_container {
  position: absolute;
  width: 50%;
  aspect-ratio: 30/6;
  border: 2px solid black;
  background-color: rgba(208, 204, 204, 0.383);
  top: 3vh;
  left: -31vw;
}

#time_sprite {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: limegreen;
  transform-origin: right;
}

#start {
  grid-area: 1 / 1;
  background-color: blue;
  z-index: 999;
}

#game_over {
  grid-area: 1 / 1;
  background-color: rgb(230, 43, 52);
  z-index: 999;
}

#level_complete {
  grid-area: 1 / 1;
  background-color: rgb(81, 214, 136);
  z-index: 999;
}

/* #game_over.hidden
#level_complete.hidden
#credits.hidden
#start_screen.hidden */
.hidden {
  display: none !important;
  /* !important */
  /* visibility: hidden; */
}
